.App {
margin: auto;
width: 50%;
padding: 10px;
}

.add-btn-1{
  float: right;
  background-color: blue;
  color: white;
  border-radius: 5px;
}
.add-btn-2{
  float: right;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.task{
  margin: 10px;
}


